<template>
    <div class="ContentComponent">
        <h1>{{selectedSubTask.title}}</h1>
        
        <div v-for="element in selectedSubTask.aufgabenMitLoesung" v-bind:key="element.text">
            <p class="taskDescription"  v-text="element.text"></p>
            <iframe :src="element.path"><div v-html="element.loesung">

            </div> </iframe>
            

        </div>
        
    </div>
</template>

<script>

export default {
  name: 'ContentComponent',
  props: {
      selectedSubTask: Object
  },
  computed: {
      pathToData(){
          return "static/data/aufgabe2/2.1.html"
      }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.taskDescription{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
iframe{
    width: 90%;
    height: 30vh;
    background-color: beige;
}

</style>