<template>
  <div class="mainContainer">
    <div class= "headline"><h1>Web Engeineering Kaul WS2020</h1></div>
    <NavBarHeader :setSelectedTask="setSelectedTask" />
    <div class="content"  >
      
  
      <ContentSelector :selectedTaskNr="selectedTaskNr" />
      
    </div>
  </div>
</template>

<script>
import NavBarHeader from './NavBarHeader.vue'
import ContentSelector from '@/components/ContentSelector.vue'
// import counter from "../../static/data/aufgabe9/9.1.1.vue"
export default {
  name: 'MainContainer',
  components: {
    NavBarHeader,
    ContentSelector
  },
  data: function () {
  return {
    selectedTaskNr: 0
  }
  },
  methods: {
    setSelectedTask(taskNr){
      this.selectedTaskNr = taskNr;
      
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.mainContainer{
  background-color: black;
  
  display: flex;
  flex-direction: column;
}
.headline{   
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content{
  width: 98%;
  min-height: 100vh;
  align-self: center;
  text-align: center;
}
a{
  color: beige;
  
}
</style>




