<template>
    <div class="navBarHeaderButton" @click="setSelectedTask(nr)"> <p>{{name}}</p></div>
</template>

<script>
export default {
  name: 'navBarHeaderButton',
  props: {
      name: String,
      setSelectedTask: Function,
      nr: Number
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navBarHeaderButton{   
  height: 50px;
  min-width: 90px;
  align-content: center;
  justify-content: center;
  display: flex;
  border:solid;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
</style>