<template>
    <div class="contentSelector" > 
      <div class="subTaskSelectBar" v-if="selectedTaskNr != 0">
        <navBarHeaderButton v-for="task in subTasks" v-bind:key="task.unteraufgabenNr" :name="selectedTaskNr+'.'+task.unteraufgabenNr" :setSelectedTask="setSelectedSubTaskNr" :nr="task.unteraufgabenNr" />
      </div>
      <div class="contentForTasks" >
        <div v-html="contentToBeShown" v-if="selectedTaskNr == 0"></div>
        <ContentComponent :selectedSubTask="selectedSubTask" v-if="selectedSubTask" />
      </div>
    </div>
</template>

<script>
import Data from '@/Data.js'
import navBarHeaderButton from '@/components/NavBarHeaderButton.vue'
import ContentComponent from "@/components/ContentComponent.vue"
export default {
  name: 'ContentSelector',
  components: {
    navBarHeaderButton,
    ContentComponent
  },
  props: {
      selectedTaskNr: Number
  },
  data: function () {
  return {
    selectedSubTaskNr: 0,
  }
  },
  computed:{
      subTasks(){
        return Data.aufgaben.find(x => x.nr == this.selectedTaskNr).unteraufgaben
      },
      contentToBeShown:function(){
        
        if(this.selectedTaskNr == 0){
          return Data.aufgaben.find(x => x.nr == this.selectedTaskNr).contentToShow
        }else{
          return 
        }
         
      },
      selectedSubTask(){
        if(this.subTasks){return this.subTasks.find(x => x.unteraufgabenNr == this.selectedSubTaskNr)}
        
      }
  },
  methods:{
    setSelectedSubTaskNr(subTaskNr){
      this.selectedSubTaskNr = subTaskNr
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.contentSelector{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
 
}

@media(max-width: 768px) {
  .contentSelector{
  display: block;
}
}
.subTaskSelectBar{
  min-width: 100px;
  height: 100%;
  margin-top: 30px;
}
.contentForTasks{
   background-color:rgb(19, 18, 18);
  min-width: 100px;
  height: 100%;
  flex-grow: 1;
}
</style>