<template>
    <div class="ContentComponent">
        <h1>{{selectedSubTask.title}}</h1>
        
        <div v-for="element in selectedSubTask.aufgabenMitLoesung" v-bind:key="element.text">
            <p class="taskDescription"  v-text="element.text"></p>
            <iframe :src="element.path"> </iframe> <br/>
            <a :href="element.path" download>
                Download File
            </a>
            <pre :id="element.path" v-if="element.showAsCode == 1" v-text="getCode(element.path)">Hier kommt Code</pre>
            
            



        </div>
        
    </div>
</template>

<script>

export default {
  name: 'ContentComponent',
  props: {
      selectedSubTask: Object
  },
 methods: {
     getCode(url){
           const fileUrls = [url];
         Promise.all(fileUrls.map(url => fetch(url).then((response)=>{return response.text()}))).then(
      (arryOfTexts) => {
          document.getElementById(url).textContent = arryOfTexts[0];
          
      } 
  )
     }
 }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.taskDescription{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
iframe{
    width: 90%;
    height: 40vw;
    background-color: beige;
}
 pre{
     margin-left: 5%;
     text-align: left;
     overflow: scroll;
     
 }

</style>